<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <a href="/activities"> << Activity Log</a>
    <h1><%= title %></h1>

    <div class="container">
        <div class="container justify-content-center p-4">
            <img src="https://imgb.ifunny.co/images/c63f5c39aa43828732b85fdbbe615568b5522f6635cbb8a13125625eb03c2da0_1.jpg" alt="cat gif" height="200px">
        </div>

        <% const obj = JSON.parse(activityInd) %>

        <form action="<%= activityInd %>" method="post">
            <div class="form-group row">
                <label for="actID" class="col-sm-2 col-form-label">Activity ID</label>
                <div class="col-sm-6">
                    <input name="actID" type="text" readonly class="form-control" id="actID" value="<%= obj._id %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="actMessage" class="col-sm-2 col-form-label">Message</label>
                <div class="col-sm-6">
                    <input name="actMessage" type="text" class="form-control" id="actMessage" value="<%= obj.message %>">
                </div>
            </div>

            <div class="form-group row">
                <input class="btn btn-primary" type="submit" value="Update Activity">
            </div>


        </form>

    </div>


    <footer>
      <div>Made by Triet ✨</div>
    </footer>
</body>
</html>